# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private


# ignore big zip files
sites/all/libraries/L.GeoSearch-develop.zip
sites/all/libraries/MPDF_6_0.zip
sites/all/modules/wamex/wamex_module_20160513.zip
sites/all/themes/bootstrap/wamex/wamex_theme_20160513.zip